<section>
  <div class="container-small flex-centered flex-column login-wrapper">
    <p class="logo">
      <img src="/icons/logo.svg" />
      NewsFeed
    </p>

    <form
      class="flex-centered flex-column login-form"
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="field-wrap">
        <label for="username">Korisničko ime <span>*</span></label>
        <input type="text" id="username" formControlName="username" />
        <div
          class="error-message"
          *ngIf="username?.invalid && username?.touched"
        >
          <small>Korisničko ime je obavezno</small>
        </div>
      </div>

      <div class="field-wrap">
        <label for="currentPassword">Šifra <span>*</span></label>
        <input
          type="password"
          id="currentPassword"
          formControlName="currentPassword"
        />
        <div
          class="error-message"
          *ngIf="currentPassword?.invalid && currentPassword?.touched"
        >
          <small>Šifra je obavezna</small>
        </div>
      </div>

      <div class="field-wrap">
        <label for="newPassword">Nova šifra <span>*</span></label>
        <input type="password" id="newPassword" formControlName="newPassword" />
        <div
          class="error-message"
          *ngIf="newPassword?.invalid && newPassword?.touched"
        >
          <small *ngIf="newPassword?.errors?.['required']">
            Nova šifra je obavezna
          </small>
          <small *ngIf="newPassword?.errors?.['minlength']">
            Nova šifra mora imati najmanje 6 karaktera
          </small>
        </div>
        <div
          *ngIf="passwordSameError && changePasswordForm.touched"
          class="error-message"
        >
          <small>Nova šifra ne može biti ista kao trenutna</small>
        </div>
      </div>

      <button type="submit" [disabled]="changePasswordForm.invalid">
        Promenite šifru
      </button>
    </form>
  </div>
</section>
