<header>
  <nav class="container flex-center-between">
    <a routerLink="/" class="logo">
      <img src="/icons/logo.svg" />
      NewsFeed
    </a>

    <ul class="flex">
      <!-- Show Register and Login if user is not logged in -->
      <li *ngIf="!isLoggedIn">
        <a routerLink="/register">
          <img src="/icons/register.svg" />
          <span> Registrujte se </span>
        </a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/login">
          <img src="/icons/login.svg" />
          <span> Ulogujte se </span>
        </a>
      </li>

      <!-- Show Change Password and Logout if user is logged in -->
      <li *ngIf="isLoggedIn">
        <a routerLink="/change-password">
          <img src="/icons/password.svg" />
          <span> Promenite lozinku </span>
        </a>
      </li>
      <li *ngIf="isLoggedIn">
        <a (click)="logout()">
          <img src="/icons/logout.svg" />
          <span> Odjavite se </span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <nav class="container flex-center-between">
    <a href="/" class="logo">
      <img src="/icons/logo.svg" />
      NewsFeed
    </a>
    <p>All rights reserved.</p>
  </nav>
</footer>
